<div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="font"><h4>お気に入り一覧</h4></div>
    </div>
</div>

<div class="container">
<table class="table table-secondary table-bordered table-sm">
        <thead>
          <tr>
            <th>画像</th>
            <th>名前</th>
            <th>型</th>
            <th>サイズ</th>
            <th></th>
            <th></th>
          </tr>
       </thead>


<% if @favorite.present? %>
    <tbody>
      <% @favorites.each do |favorite| %>
      <% if favorite.spot.is_active %>
      <tr>
        <td><%= link_to (image_tag favorite.spot.image, size: '50x50'), user_spot_path(favorite.spot.id) %></td>
        <td><%= favorite.spot.name %></td>
        <td><%= favorite.spot.quality %></td>
        <td><%= favorite.spot.introduction %></td>
        <td><%= link_to "商品詳細", user_spot_path(favorite.spot.id), class: "btn-gradient-green" %></td>
        <td><%= link_to "削除する", user_spot_favorites_path(favorite.spot.id), method: :delete, class: "btn-gradient-dark", method: :delete %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  <% end %>
</table>