<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form">
  <div class="email">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"e-mail" %>
  </div>
  <div class="password">
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"password" %>
  </div>
  <div class="login">
    <%= f.submit "Log in" %>
  </div>
</div>
<% end %>



<%= render "admin/shared/links" %>
