<%= render 'index', spots: @spots %>
<h2>投稿一覧</h2>
<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th></th>
          <th>画像</th>
          <th>温泉名</th>
          <th>カテゴリー</th>
          <th>質</th>
          <th>説明</th>
          <th>レビュー</th>
        </thead>
        <tbody>
          <% @spots.each do |spot| %>
          <% if spot.is_active %>
        <tr>
          <td>
           <% if current_user.already_favorited?(spot) %>
          <div>
            <%= link_to user_spot_favorites_path(spot), method: :delete do %>
            <div class="heart">
              <i class="fas fa-heart fa-2x" style="color: red;"></i>
              </div>
        <% end %>
          </div>
        <% else %>
          <div>
            <%= link_to user_spot_favorites_path(spot), method: :post do %>
              <div class="heart">
                <i class="far fa-heart like-btn fa-2x" style="color: black;" ></i>
              </div>
            <% end %>
          </div>
          <% end %>
          <% end %>

          </td>
          <td><%= link_to user_spot_path(spot.id) do %>
          <%= image_tag spot.image, size: '150x100'%></td>
          <% end %>
          <td><%= spot.name %></td>
          <td><%#= spot.category.try(:name) %></td>
          <td><%= spot.quality %></td>
          <td><%= spot.introduction %></td>
          <td></td>
        </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @spots %>

