<%= render 'user/spots/index', spots: @spots %>


<%= form_with model: @spot, url: user_spots_path do |f| %>

<div class="row mt-5 justify-content-center">
<h1>新規投稿</h1>
</div>
<div class="row mt-5 justify-content-center">
  <h4>温泉名</h4>
  <%= f.text_field :name %>
</div>
<div class="row mt-5 justify-content-center">

  <h4>カテゴリー</h4>
   <td><%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: '--選択してください--'}, class: 'sample' %></td></tr>
</div>
<div class="row mt-5 justify-content-center">
  <h4>温泉質</h4>
  <%= f.text_field :quality %>
</div>
<div class="row mt-5 justify-content-center">
  <h4>本文</h4>
  <%= f.text_area :introduction %>
</div>
<div class="row mt-5 justify-content-center">
  <%= f.submit '投稿' %>
  </div>

<% end %>
</div>