<%= render 'user/spots/index', spots: @spots %>


<%= form_with model: @spot, url: user_spots_path do |f| %>
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-6">
      <h1>新規投稿</h1>
        <table class="table table-borderless table-striped">
          <th>商品画像</th>
          <td><%= f.file_field :image, accept: "image/*" %></td></tr>

          <th>温泉名</th>
          <td><%= f.text_field :name %></td></tr>

          <th>カテゴリー</th>
          <td><%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: '--選択してください--'}, class: 'sample' %></td></tr>

          <th>温泉質</th>
          <td><%= f.text_field :quality %></td></tr>

          <th>本文</th>
          <td><%= f.text_area :introduction %></td></tr>
        </table>
    </div>
  </div>
</div>
<div class="row mt-5 justify-content-center">
  <%= f.submit '投稿' %>
</div>
<% end %>
