<%= render 'user/spots/index', spots: @spots %>


<%= form_with model: @spot, url: user_spots_path do |f| %>
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-6">
<h1>新規投稿</h1>
<table class="table table-borderless table-striped">
<th>商品画像</th>
      <td><%= f.file_field :image, accept: "image/*" %></td></tr>

  <h4>温泉名</h4>
  <%= f.text_field :name %>



  <h4>カテゴリー</h4>
   <td><%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: '--選択してください--'}, class: 'sample' %></td></tr>


  <h4>温泉質</h4>
  <td><%= f.text_field :quality %></td>


  <h4>本文</h4>
  <td><%= f.text_area :introduction %></td>


</table>

<div class="row mt-5 justify-content-center">
  <%= f.submit '投稿' %>
  </div>
</div>
</div>
</div>
<% end %>
