<%= render 'admin/homes/top', spots: @spots %>

<div class="contener">
<h1>新規投稿</h1>

<div class="row mt-5 justify-content-center">
<%= form_with model: @spot, url: admin_spots_path do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :name %>

  <h4>商品画像</h4>
  <td><%= f.file_field :image, accept: "image/*" %></td></tr>

  <h4>カテゴリー</h4>
  <td><%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: '--選択してください--'}, class: 'sample' %></td></tr>

  <h4>温泉質</h4>
  <%= f.text_field :quality %>

  <h4>本文</h4>
  <%= f.text_area :introduction %>

  <%= f.submit '投稿' %>
<% end %>
</div>
</div>

